@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --primary: #F3B54A;
    --secondary: #D8D9DE;
    --dark: #6E7889;
    --darker: #393B45;
    --displayWidth: 480px;
    --pixelWidth: 30px;
}


body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--darker);
    text-align: center;
}

#display{
    margin: auto;
    border: 30px solid var(--primary);
    display: flex;
    flex-wrap: wrap;
    max-width: var(--displayWidth);
    border-radius: 5%;
}

.pixel{
    width: var(--pixelWidth); height: var(--pixelWidth);
    box-shadow: 0px 0px 1px 1px var(--secondary);
    box-sizing: border-box;
}


#controls{
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 50px 0px 20px 0px;
}

#control-color{
    color: var(--primary);
}


@keyframes rainbow{
    9%{ color:#262949;}
    18%{ color:#045459;}
    27%{ color:#087353;}
    36%{ color:#15C286;}
    45%{ color:#ABD96D;}
    54%{ color:#FBBF54;}
    63%{ color:#EE6B3B;}
    72%{ color:#EC0F47;}
    81%{ color:#A02C5D;}
    91%{ color:#700460;}
    100%{ color:#022C7A;}
}

#control-rainbow svg{
    animation-name: rainbow;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
}


#controls .btn{
    margin: 0px 10px;
}

.btn{
    width: 100px; height: 100px;
    border: 1px solid var(--secondary);
    border-radius: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn svg{
    width: 50%; height: 50%;
}


.selectable:hover{
    color: var(--primary);
    cursor: pointer;
    box-shadow: 0 2px 10px 2px gray;
}

.selected{
    border: 5px solid #f3b54a;
    box-sizing: border-box;
}

#control-pixel{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;

    width: 100px; height: 100px;
    border: 1px solid var(--secondary);
    border-radius: 10%;
}

#control-pixel:hover , #control-pixel:focus{
    color: var(--primary);
    cursor: pointer;
    box-shadow: 0 2px 10px 2px gray;
}


#copyright a{
    text-decoration: none;
    color: var(--dark);
}

#copyright a:hover{
    color: var(--primary);
}

